#overview configuration for board Lab. system


ftp_dir=/home/hisilicon/ftp
ftp_bak=backup
grub_prefix="grub.cfg-01"
DEFCFG=~/grub.cfg

img_d01=zImage_D01
dtb_d01=hip04-d01.dtb

img_d02=Image_D02
dtb_d02=hip05-d02.dtb

img_d03=Image_D03
dtb_d03=hip06-d03.dtb

mini_rootfs="mini-rootfs.cpio.gz"



